<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Customers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Customers</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <ion-list>
      <ion-item color="dark">
        <ion-avatar>
          <img [src]="'https://robohash.org/voluptateoditperspiciatis.png?size=50x50&set=set1'">
        </ion-avatar>
        <ion-label><strong>Customer [{{ people?.length }}]</strong></ion-label>
        <ion-label><b>City, State</b></ion-label>
      </ion-item>
      <ion-item *ngFor="let person of people; let i = index;" [routerLink]="'/person/'+person.id">
        <ion-avatar>
          <img [src]="person.avatar">
        </ion-avatar>
        <ion-label><b>{{ person.first_name }} {{ person.last_name }}</b></ion-label>
        <ion-label><b>{{ person.city }}, {{ person.state }}</b></ion-label>
      </ion-item>
  
    </ion-list>
  </div>


</ion-content>
