<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Starter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Starter</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    Welcome to the Ionic Angular Supabase Starter Kit!
    <br><br>
    This demo application is a mockup of an automotive service station management application.
  </div>
</ion-content>
