<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="box-400 ion-text-center">

    <div id="container" class="ion-padding">
    
      <ion-item lines="none">
        <h5><strong>New Password</strong></h5>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="password" type="password" placeholder="password"></ion-input>
      </ion-item>
      
        <ion-button strong
        color="primary" 
        (click)="submit()" 
        expand="block" 
        [disabled]="password.length < 6">
        <ion-icon name="log-in" size="large" slot="start"></ion-icon>
        Update Password</ion-button>
  
  
  
  
  </div>
</div>

</ion-content>
